<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Produkty</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link type="text/css" rel="stylesheet" th:href="@{/css/menu.css}"/>
</head>
<body>
<table class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th scope="col">KSIĄŻKI</th>
        <th scope="col">EBOOKI</th>
        <th scope="col">AUDIOBOOKI</th>
        <th scope="col">PRASA</th>
        <th scope="col">INNE</th>
    </tr>
    </thead>
    <td>
        <th:block th:each="product : ${productList}">
            <div th:if="*{product.category.categoryType.equals(product.category.categoryType.BOOK)}">
                <div th:text="*{product.name}"></div>
                <a th:href="@{buyProduct/{id} (id=${product.id})}"><img th:attr="src=${product.pictureUrl}"
                                                                        height="50" width="50"/></img></a>
            </div>
        </th:block>
    </td>
    <td>
        <th:block th:each="product : ${productList}">
            <div th:if="*{product.category.categoryType.equals(product.category.categoryType.EBOOK)}">
                <div th:text="*{product.name}"></div>
            <a th:href="@{buyProduct/{id} (id=${product.id})}"><img th:attr="src=${product.pictureUrl}"
                                                                        height="50" width="50"/></a>
            </div>
        </th:block>
    </td>
    <td>
        <th:block th:each="product : ${productList}">
            <div th:if="*{product.category.categoryType.equals(product.category.categoryType.AUDIOBOOK)}">
                <div th:text="*{product.name}"></div>
                <a th:href="@{buyProduct/{id} (id=${product.id})}"><img th:attr="src=${product.pictureUrl}"
                                                                        height="50" width="50"/></img></a>
            </div>
        </th:block>
    </td>
    <td>
        <th:block th:each="product : ${productList}">
            <div th:if="*{product.category.categoryType.equals(product.category.categoryType.PRESS)}">
                <div th:text="*{product.name}"></div>
                <a th:href="@{buyProduct/{id} (id=${product.id})}"><img th:attr="src=${product.pictureUrl}"
                                                                        height="50" width="50"/></img></a>
            </div>
        </th:block>
    </td>
    <td>
        <th:block th:each="product : ${productList}">
            <div th:if="*{product.category.categoryType.equals(product.category.categoryType.OTHER)}">
                <div th:text="*{product.name}"></div>
                <a th:href="@{buyProduct/{id} (id=${product.id})}"><img th:attr="src=${product.pictureUrl}"
                                                                        height="50" width="50"/></img></a>
            </div>
        </th:block>
    </td>
</table>
<h1>
    Jeżeli jesteś zainteresowany zakupem produktu, kliknij na jego ikonę.
</h1>
<center>
    <a href="/home/home">powrót do menu</a>
</center>
</body>
</html>