<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<head>
    <meta charset="UTF-8">
    <title>Użytkownicy</title>
</head>
<body>
<table class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th scope="col">Login</th>
        <th scope="col">E-mail</th>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">avatar</th>
        <th scope="col">Adres (kraj, miasto, ulica, kod pocztowy)</th>
        <th scope="col">Rola (Admin/Użytkownik)</th>
    </tr>
    </thead>
<th:block th:each="user : ${userList}">
    <tr>
        <td th:text="${user.login}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td>
            <img th:attr="src=${user.avatarUrl}" height="50" width="50"/></img>
        </td>
        <td th:text="${user.address}"></td>
        <td th:text="${user.roles}"></td>
    </tr>
</th:block>
</table>
</body>
</html>